certifi
chardet
coreapi
coreschema
Django
django-filter
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
django-cors-headers
idna
itypes
Jinja2
Markdown
MarkupSafe
openapi-codec
Pillow
PyJWT
pytz
requests
simplejson
sqlparse
uritemplate
urllib3